aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
anyascii==0.3.2
anyio==3.7.1
api-display-purposes==0.0.3
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.11.2
bidict==0.22.1
bitarray==2.8.1
bitstring==4.1.1
bleach==6.0.0
bottle==0.12.25
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
clarifai==9.9.0
clarifai-grpc==9.9.0
click==8.1.7
colorama==0.4.6
configparser==3.8.1
contextlib2==21.6.0
contourpy==1.1.0
coverage==7.3.1
cryptography==41.0.3
cycler==0.11.0
defusedxml==0.7.1
disqus==0.0.4
Django==4.2.3
django-appconf==1.0.5
django-compressor==4.4
django-cors-headers==3.14.0
django-disqus==0.5
django-filter==23.5
django-haystack==3.2.1
django-ipware==5.0.0
django-mdeditor==0.1.20
django-modelcluster==6.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
django-uuslug==2.0.0
djangorestframework==3.14.0
draftjs-exporter==2.1.7
EasyProcess==1.1
ecdsa==0.18.0
elasticsearch==7.16.1
elasticsearch-dsl==7.4.0
emoji==2.8.0
esptool==4.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fastapi==0.105.0
fastapi-socketio==0.0.10
filetype==1.2.0
fonttools==4.40.0
frozenlist==1.4.0
future==0.18.3
gevent==23.9.1
googleapis-common-protos==1.60.0
greenlet==3.0.0rc3
grpcio==1.59.0
h11==0.14.0
html5lib==1.1
htmx==0.0.0
httpcore==0.18.0
httptools==0.6.1
httpx==0.25.0
idna==2.7
ifaddr==0.2.0
imbalanced-learn==0.11.0
instapy==0.6.16
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jsonpickle==3.0.2
jsonschema==2.6.0
kiwisolver==1.4.4
l18n==2021.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdown2==2.4.11
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
MeaningCloud-python==2.0.0
mock==5.1.0
multidict==6.0.4
mysqlclient==2.2.0
nicegui==1.4.5
numpy==1.25.0
openai==0.28.0
openpyxl==3.1.2
orjson==3.9.10
outcome==1.2.0
packaging==23.1
Pillow==10.0.0
pillow-heif==0.14.0
plyer==2.1.0
protobuf==4.25.1
pscript==0.7.7
pycparser==2.21
pydantic==1.10.13
Pygments==2.16.1
pyOpenSSL==23.2.0
pyparsing==3.1.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-engineio==4.8.0
python-logstash==0.4.8
python-multipart==0.0.6
python-rapidjson==1.11
python-slugify==8.0.1
python-socketio==5.10.0
python-telegram-bot==20.6
pytz==2022.7.1
PyYAML==6.0.1
rcssmin==1.1.1
redis==5.0.0
reedsolo==1.7.0
regex==2023.10.3
requests==2.20.0
requests-toolbelt==0.8.0
rich==13.4.2
rjsmin==1.2.1
schema==0.7.5
scikit-learn==1.4.0
scipy==1.12.0
secure-smtplib==0.1.1
selenium==4.3.0
semantic-version==2.10.0
setuptools-rust==1.7.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
starlette==0.27.0
telepath==0.3.1
text-unidecode==1.3
threadpoolctl==3.2.0
tqdm==4.64.1
trio==0.22.2
trio-websocket==0.10.3
tritonclient==2.34.0
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
urllib3==1.24.3
urllib3-secure-extra==0.1.0
user-agents==2.2.0
uvicorn==0.22.0
vbuild==0.8.2
wagtail==5.2.2
watchfiles==0.21.0
webdriver-manager==4.0.0
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websockets==12.0
WeRoBot==1.13.1
whitenoise==6.5.0
Whoosh==2.7.4
Willow==1.6.3
wsproto==1.2.0
xlwt==1.3.0
xmltodict==0.13.0
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
