/* CSS for the entire body */
body {
    font-family: "Poppins", sans-serif;
    background-color: #111; /* Set the background color to #111 */
    color: #fff; /* Set the text color to white */
}

/* CSS for the video element */
video {
    width: 520px; /* Set the desired width */
    height: 412px; /* Set the desired height */
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Set the border radius to make the video look like a square */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

/* Hide the video controls */
video::-webkit-media-controls {
    display: none;
}

/* Style for the card */
.coffee-card {
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.coffee-card .card-img-top {
    border-radius: 10px 10px 0 0; /* Rounded top corners for the card image */
}

.coffee-card .card-body {
    padding: 10px;
}

.coffee-card .card-title {
    font-size: 24px;
    font-weight: bold;
}

.coffee-card .card-text {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Style for the entire container */
.container {
    padding: 20px;
}

/* Style for the row */
.row {
    margin: 0 -10px;
}

/* Style for the video source text */
.video-source {
    font-size: 14px;
    color: #999;
    text-align: center;
}

.social-icon {
    width: 20px; /* Set the desired width for the Instagram icon */
    height: 20px; /* Set the desired height for the Instagram icon */
    margin-right: 10px; /* Add spacing between the icon and the text */
    fill: #ff5722; /* Set the color for the Instagram icon */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    video {
        width: 100%; /* Set the video width to 100% of its container on mobile devices */
        height: auto; /* Allow the video to maintain its aspect ratio */
        margin-top: 20px; /* Add spacing between the card and video on mobile devices */
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }
}

/* Style for the image gallery */
.image-galleries {
    margin-top: 20px;
}

.image-gallery h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery-images img:hover {
    transform: scale(1.05);
}

/* Media query for small screens */
@media (max-width: 767px) {
    .gallery-images {
        justify-content: center;
    }
}
