{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tengo (Tempat Ngopi) - Detail Coffee Shop</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/detail_coffeeshop.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1 class="my-4">{{ coffee_shop.nama }}</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card coffee-card">
                        <img src="{{ coffee_shop.gallery.url }}" class="card-img-top" alt="{{ coffee_shop.nama }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ coffee_shop.nama }}</h5>
                            <p class="card-text"><strong>Alamat:</strong> {{ coffee_shop.alamat }}</p>
                            <p class="card-text"><strong>Jam Buka:</strong> {{ coffee_shop.jam_buka }}</p>
                            <p class="card-text"><strong>Contact:</strong> {{ coffee_shop.contact }}</p>
                            <p class="card-text"><strong>Review:</strong> {{ coffee_shop.review }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Video section -->
                    {% if coffee_shop.video %}
                    <video width="100%" height="auto" controls autoplay muted>
                        <source src="{{ coffee_shop.video.url }}" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <p class="video-source">Video source: {{ coffee_shop.video_source }}</p>
                    {% endif %}
                    <!-- End of Video section -->
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
