{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tengo | Tempat Ngopi</title>
        <link rel="icon" href="{% static 'img/tengo.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1 class="my-4 bold-text">Tengo - Daftar Tempat Ngopi</h1>

            <!-- Form pencarian dan filter berdasarkan lokasi -->
            <form method="GET" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Cari tempat ngopi..." name="q" value="{{ request.GET.q }}" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Cari</button>
                    </div>
                </div>
                <p style="color: white">{{ total_coffee_shops }} Tempat Ngopi</p>

                <!-- Dropdown select untuk filter berdasarkan lokasi -->
                <div class="form-group">
                    <select class="custom-select" id="lokasi" name="lokasi">
                        <option value="">Semua Lokasi</option>
                        {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.nama_lokasi }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary btn-sm mt-2" type="submit">Filter</button>
                </div>
            </form>

            <!-- Daftar Coffee Shop -->
            {% if coffee_shops %}
            <div class="row">
                {% for coffee_shop in coffee_shops %}
                <div class="col-md-4">
                    <div class="card coffee-card">
                        <a href="{% url 'detail_coffeeshop' coffee_shop.slug %}">
                            <img src="{{ coffee_shop.gallery.url }}" class="card-img-top" alt="{{ coffee_shop.nama }}" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ coffee_shop.nama }}</h5>
                            <p class="card-text"><strong>Alamat:</strong> {{ coffee_shop.alamat }}</p>
                            <p class="card-text">
                                <strong>Jam Buka:</strong>
                                {% if coffee_shop.jam_buka == "24 Jam" %}
                                <strong><span style="color: #00ff00">{{ coffee_shop.jam_buka }}</span></strong>
                                {% else %} {{ coffee_shop.jam_buka }} {% endif %}
                            </p>
                            <p class="card-text"><strong>Contact:</strong> {{ coffee_shop.contact }}</p>
                            <p class="card-text"><strong>Review:</strong> {{ coffee_shop.review }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info">Duh sepertinya coffee shop yang kamu cari belum terinput 😥</div>
            {% endif %}
        </div>

        <!-- Link ke Bootstrap JavaScript dan jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
            function filterByLocation() {
                var select = document.getElementById("lokasiSelect");
                var selectedValue = select.options[select.selectedIndex].value;

                var url = "/filtered_location/" + (selectedValue ? selectedValue + "/" : ""); // Sesuaikan dengan URL filter lokasi Anda
                window.location.href = url;
            }
        </script>
    </body>
</html>
