{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tengo adalah platform rekomendasi tempat ngopi di Pontianak. Temukan tempat favorit untuk nugas dan WFA di dekat kamu." />
    <meta name="keywords" content="tempat ngopi, coffee shop, Pontianak, nugas, WFA, Tengo" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Tengo Team" />
    <!-- End SEO Meta Tags -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendation</title>
    <link rel="icon" href="{% static 'img/tengo-icon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/recommendation.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Recommendation</h1>
      <div class="row">
        {% for recommendation in recommendations %}
        <div class="col-md-4">
          <div class="frame-twitter">
            <p>{{ recommendation.description }}</p>
            <iframe class="twitter-frame" border="0" frameborder="0" src="https://twitframe.com/show?url={{ recommendation.tweet_url }}"></iframe>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      /* find all iframes with ids starting with "tweet_" */
      $("iframe[id^='tweet_']").load(function () {
        this.contentWindow.postMessage({ element: this.id, query: "height" }, "https://twitframe.com");
      });
    });

    /* listen for the return message once the tweet has been loaded */
    $(window).bind("message", function (e) {
      var oe = e.originalEvent;
      if (oe.origin != "https://twitframe.com") return;

      if (oe.data.height && oe.data.element.match(/^tweet_/)) $("#" + oe.data.element).css("height", parseInt(oe.data.height) + "px");
    });
  </script>
</html>
