{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Mobile -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>Sitemap</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/tengo-favicon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- Font Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/sitemap.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Sitemap</h1>

      <h2>Halaman Utama</h2>
      <ul>
        {% for page in static_pages %}
        <li><a href="{{ page.url }}">{{ page.name }}</a></li>
        {% endfor %}
      </ul>

      <h2>Tempat Ngopi</h2>
      <ul>
        {% for coffee_shop in coffee_shops %}
        <li><a href="{{ coffee_shop.get_absolute_url }}">{{ coffee_shop.nama }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Link ke Bootstrap JavaScript dan jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
